@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/Home/login.js"></script>
} 

<div class="container" style="max-width: 400px;">
    <div class="row">
        <div class="d-flex my-auto mx-auto">
            <div class="card shadow-lg p-4">
                <h1 class="card-title text-center">Login</h1>
                <div class="card-body">
                    <form id="LoginForm">
                        <div class="mt-3">
                            <label class="">Username or Email</label>
                            <input class="in-bg form-control px-4" id="LoginUserName" type="text" required />
                        </div>
                        <div class="mt-3">
                            <label>Password</label>
                            <input class="in-bg form-control px-4" id="LoginPassword" type="text" required />
                        </div>
                        <div class="mt-4 d-flex flex-row">
                            <button type="submit" id="LoginButton" class="btn btn-info">Login</button>
                            <button type="button" id="Scramble" class="btn btn-danger" style="">Scramble</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>    
</div>
